# PANDAS

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels =['w','x','y','z']
sample_lists =[10,20,30,50]
array=np.array([1,2,3,8])
dict ={'w':10 ,'x': 20,'y': 30 ,'z':50}

In [6]:
pd.Series(data=sample_lists)

0    10
1    20
2    30
3    50
dtype: int64

In [14]:
pd.Series(data=sample_lists, index=labels)

w    10
x    20
y    30
z    50
dtype: int64

In [15]:
pd.Series(sample_lists, labels)

w    10
x    20
y    30
z    50
dtype: int64

In [13]:
pd.Series(array,labels)

w    1
x    2
y    3
z    8
dtype: int32

In [16]:
pd.Series(dict)

w    10
x    20
y    30
z    50
dtype: int64

# Pandas dataframe and indexing

In [17]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [18]:
sports1['football']

2

In [19]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [20]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [21]:
df1=pd.DataFrame(np.random.randn(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.260178  1.447598  1.222146  2.660967  0.390928
B  2.228602  0.145830 -2.402320 -0.133286  1.254453
C -1.416621  2.447179  0.110242  1.020958  1.573984
D  1.306477  1.487649  0.545810  0.616988 -0.050436
E  1.022549 -0.411725 -1.785754  0.191912  1.937086
F -0.114742  0.649181 -0.290891  1.514568  0.684048
G  0.300216 -2.022375  0.769565  0.811504  0.692923
H -0.869954 -0.333796 -0.182079  0.042671  0.092271

In [22]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.260178  1.447598  1.222146  2.660967  0.390928  1.707776
B  2.228602  0.145830 -2.402320 -0.133286  1.254453  2.374433
C -1.416621  2.447179  0.110242  1.020958  1.573984  1.030558
D  1.306477  1.487649  0.545810  0.616988 -0.050436  2.794126
E  1.022549 -0.411725 -1.785754  0.191912  1.937086  0.610824
F -0.114742  0.649181 -0.290891  1.514568  0.684048  0.534440
G  0.300216 -2.022375  0.769565  0.811504  0.692923 -1.722159
H -0.869954 -0.333796 -0.182079  0.042671  0.092271 -1.203751

In [23]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123

In [25]:
# # df=pd.read_excel("CIT Schedule.xlsx")  for external fiile
# df.head()
# df.info()
# df.describe()